<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MyDBKhoa" connectionString="data source=LAPTOP-OKIJ6G4N\SQLEXPRESS;initial catalog=BookHouseSE;user id=BookHouseKhoa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BookHouseSEEntities" connectionString="metadata=res://*/MyDB.MyDB.csdl|res://*/MyDB.MyDB.ssdl|res://*/MyDB.MyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-OKIJ6G4N\SQLEXPRESS;initial catalog=BookHouseSE;user id=BookHouseKhoa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyDB" connectionString="data source=LAPTOP-OKIJ6G4N\SQLEXPRESS;initial catalog=BookHouseSE;user id=BookHouseKhoa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>