body {
    font-weight: bold;
}

.btn {
    background-color: green;
    border-radius: 30px;
    color: white;
    width: fit-content;
    padding: 5px 30px;
    border: 2px solid white;
}
    .btn:hover {
        border: 2px solid greenyellow;
        cursor: pointer;
    }

.input {
    background-color: darkseagreen;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    width: 200px;
    border: 2px solid white;
}
    .input:hover {
        border: 2px solid greenyellow;
    }

.label {
    display: inline-block; 
    width: 130px;
}