@model DatabaseProvider.NewClassForUI.BookInforUI
    
@{
    ViewBag.Title = "BookInfor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FirstImage = "../Images/Book/" + Model.images[0].ImagePath;
}
<link href="~/Content/BookInfor.css" rel="stylesheet" />
<div id="bookInfor">
    <div id="bookInforLeft"><img src=@Model.images[0].ImagePath height="350" width="300" /></div>
    <div id="bookInforRight">
        <p>@Model.book.BookName</p>
        <div>
            <div>
                <img class="fas fa-star" />
                <img class="fas fa-star" />
                <img class="fas fa-star" />
                <img class="fas fa-star" />
                <img class="fas fa-star" />
                | Đã bán: 50
            </div>
        </div>
        <table>
            <tr>
                <td>Mã sản phẩm:</td>
                <th style="color: green;">123456789</th>
            </tr>
            <tr>
                <td>Tác giả: </td>
                <th style="color: green;">Vũ Ngọc Tuấn</th>
            </tr>
            <tr>
                <td>Dịch giả: </td>
                <th style="color: green;">Hoàng Nhụy</th>
                <th style="background-color: darkgray; border-radius: 5px;">Giá bìa: 70.000VNĐ</th>
            </tr>
            <tr>
                <td>Nhà xuất bản: </td>
                <th style="color: green;">Hội nhà văn</th>
                <td rowspan="2" style="color: white; background-color:forestgreen; border-radius:5px;">Giá BookHouse:<br />60.000VNĐ(Đã có VAT)</td>
            </tr>
            <tr>
                <td>Ngày xuất bản: </td>
                <th style="color: green;">26-10-2021</th>
            </tr>
            <tr>
                <td>Số trang</td>
                <th style="color: green;">100</th>
                <td>Số lượng:</td>
            </tr>
            <tr>
                <td>Kích thước: </td>
                <th style="color: green;">14 x 20,5 cm</th>
                <td rowspan="2">
                    <div class="plusMinus">+</div>
                    <div style="background-color: darkgrey; border: 0.01px solid grey; float: left; padding: 5px 15px;">1</div>
                    <div class="plusMinus">-</div>
                    <a href="#" style="color: white; background-color: green; border-radius: 10px; float: left; padding: 5px 10px; text-decoration:none;">Thêm vào giỏ hàng</a>
                </td>
            </tr>
            <tr>
                <td>Thể loại: </td>
                <th style="color: green;">Văn học nước ngoài, tiểu thuyết</th>
            </tr>
        </table>
    </div>

</div>
<div id="bookDescription" style="border-bottom: 1px solid darkseagreen;">
    <div id="bookDescriptionTop" style="display: flex; justify-content:space-between;">
        <div id="bookImage" style="justify-content:space-between; display:flex;">
            <img height=50 width=40 src="../Images/Book/00000.jpg" />
            <div style="height:50px; width:50px;">Xem thêm 32 hình</div>
        </div>
        <div>
            <p style="background-color:darkseagreen; padding:10px; border-radius:5px;">GIỚI THIỆU SÁCH</p>
        </div>
    </div>
    <div>
        <p>
            Giữa rừng già Nam Mỹ, một chú chó được xua đi săn đuổi một thổ dân da đỏ. Trên đường lần theo dấu kẻ trốn chạy, chú chó dần nhận ra mùi của những thứ mình đã đánh mất: mùi củi khô, mùi bột mì, mùi mật ong,… và rồi mùi người anh em của mình. Chú chó nhớ lại tất cả những gì những Con người của Đất từng dạy cho nó: cách tôn trọng thiên nhiên, biết ơn mẹ đất, sống hòa hợp với vạn vật và đặc biệt cái tên của nó, Afmau - theo tiếng thổ dân nghĩa là Trung thành.
            <br />
            <br />
            Với tài năng kể chuyện vô song, Luis Sepúlveda biết cách tôn vinh những tình cảm cổ xưa, cao quý một cách sống động, để lại những ấn tượng khó quên về thế giới của người Mapuche, về mối gắn kết của họ với thiên nhiên vĩ đại.
        </p>
    </div>
</div>
<div id="bookComment">
    <p style="width:150px; text-align: center; padding: 3px 10px; background-color: darkseagreen; border-radius:5px; color:white;">BÌNH LUẬN</p>
    <div id="comment">
        <div style="background-color: darkgray; border-radius: 5px; display: flex; justify-content: center;">
            <div style="width: 15%; padding-left: 20px;">
                <img class="fas fa-user fa-5x" width="100" height="100" />
                <p>Nguyễn Hà My<br />15/03/2021</p>
            </div>
            <div style="width: 85%;     ">
                <p style="background-color: white; border-radius: 5px;">
                    Tiki không làm mình thất vọng 😂 dịch mà giao sách nhanh kinh khủng, cứu rỗi mình khỏi 4 bức tường =)))   Về mặt hình thức mình xin phép cho điểm 10 luôn. Bìa được thiết kế đơn giản nhưng không hề mờ nhạt mà ngược lại mình thấy khá hút mắt và nổi bật đấy chứ. Sơ qua nội dung sách sau khi mình đọc hết chương 1 cho bạn nào cần nhé: “Ám ảnh sợ xã hội" sẽ đem đến cái nhìn tổng quan về hội chứng ám ảnh sợ xã hội. Từ đó giúp bạn tìm được cách đối với giao tiếp trong xã hội cũng như tiếp thêm cho bạn động lực vượt qua nỗi sợ này.
                </p>
                <img height="50" width="40" src="../Images/Book/00000.jpg" />
                <img height="50" width="40" src="../Images/Book/00000.jpg" />
                <img height="50" width="40" src="../Images/Book/00000.jpg" />
            </div>

        </div>
    </div>
    <div id="comment" style="padding-top:20px;">
        <div style="background-color: darkgray; border-radius: 5px; display: flex; justify-content: center;">
            <div style="width: 15%; padding-left: 20px;">
                <img class="fas fa-user fa-5x" width="100" height="100" />
                <p>Nguyễn Hà My<br />15/03/2021</p>
            </div>
            <div style="width: 85%;     ">
                <p style="background-color: white; border-radius: 5px;">
                    Great book!!!
                </p>
                <img height="50" width="40" src="../Images/Book/00000.jpg" />
                <img height="50" width="40" src="../Images/Book/00000.jpg" />
                <img height="50" width="40" src="../Images/Book/00000.jpg" />
            </div>

        </div>
    </div>
</div>
@*<script>
    $(document).ready(function () {
        var obj = document.getElementById("bookImage");
        @foreach (DatabaseProvider.MyDB.Img u in Model.images)
        {
            var tmp = "<img height=\"50\" width=\"40\" src=" + u.ImagePath + "/>";
        }
    });
</script>*@