
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ChangePassword.css" rel="stylesheet" />

<div style="display: flex; justify-content: center;">
    <p style="display: block; font-size: 20px;"><b>THAY ĐỔI MẬT KHẨU</b></p>
    <div style="margin-left: 5%; display: flex;">
        <div id="mainContent" style="width: fit-content;">
            <label class="label">Số điện thoại: </label>
            <input id="phoneNumber" type="text" class="input" style="padding: 10px 20px;" onkeypress="prevent_non_numerical_input(event)"><br />
            
            <label class="label">Mật khẩu cũ: </label>
            <input id="oldPassword" type="password" class="input" style="padding: 10px 20px; margin:20px 0px;"><br />
            
            <label class="label">Mật khẩu mới: </label>
            <input id="newPassword" type="password" class="input" style="padding: 10px 20px; margin:20px 0px;"><br />
            
            <label class="label">Nhập lại mật khẩu mới: </label>
            <input id="repeatNewPassword" type="password" class="input" style="padding: 10px 20px; margin:20px 0px;">
            <div class="btn" style="margin:20px 0px;" onclick="change_password()">Đổi mật khẩu</div>
            <div id="ms" style="color:red;"></div>
        </div>
        <div style="margin-left: 30px;"><img src="../Images/UIDesign/gif00.gif" width="80%" height="70%"></div>
    </div> 
</div>
<script>
    var IsRunning = false;
    function change_password() {
        if (!IsRunning) {
            IsRunning = true;
            var pN = $("#phoneNumber").val();
            var oP = $("#oldPassword").val();
            var nP = $("#newPassword").val();
            var rNP = $("#repeatNewPassword").val();
            if (pN == '' || oP == '' || nP == '' || rNP == '') {
                $('#ms').html('Vui lòng nhập đầy đủ thông tin!');
                IsRunning = false;
            }
            else if(nP != rNP) {
                $('#ms').html('Mật khẩu mới và nhập lại không giống nhau!');
                IsRunning = false;
            }
            else {
                var form = new FormData();
                form.append("pN", pN);
                form.append("oP", oP);
                form.append("nP", nP);
                form.append("rNP", rNP);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", domain + '/User/ChangePassword', true);
                xhr.timeout = 30000;
                xhr.ontimeout = function () {
                    $("#ms").html('Thời gian phản hồi quá lâu, vui lòng F5 và thử lại!');
                    IsRunning = false;
                }
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var r = xhr.responseText;
                        var j = JSON.parse(r);
                        if (j.Data.status == "OK")
                            window.location = "/user/homepage";
                        else
                            $('#ms').html("Sai tài khoản hoặc mật khẩu!");
                        IsRunning = false;
                    }
                }
                xhr.send(form);
                console.log("send");
            }
        }
    }
</script>

