@model DatabaseProvider.NewClassForUI.FAQUI
@using DatabaseProvider.MyDB
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/FAQ.css" rel="stylesheet">
<div class="container">
    @for (int i = 0; i < Model.faqs.Count; ++i)
    {
        <div class="question">
            <p class="question">
                @Model.faqs[i].Question
            </p>
        </div>

        <div class="answer">
            <p class="answer">
                @Model.faqs[i].Answer
            </p>
        </div>
    }

    <div class= "heading-container">
        <h3>THÔNG TIN LIÊN HỆ ADMINISTRATOR</h3>
    </div>

    <table>
        <tr>
            <th class="">Adminisrator</th>
            <td>Cao Thiên Trí</td>
            <td rowspan="3"><img class="admin" src="../Images/UIDesign/165272648_2730801050544028_6529833945289540199_n.png"></td>
        </tr>
        <tr>
            <th>Số điện thoại</th>
            <td>0334 - XXX - 447</td>
        </tr>
        <tr>
            <th>Email liên hệ</th>
            <td>cttri19@apcs.fitus.edu.vn</td>
        </tr>
        <tr>
            <th>Địa chỉ liên hệ</th>
            <td colspan="2">18 đường Nguyễn Văn Cừ, khu dân cư ABC, xã EF, huyện GH, Tỉnh IK</td>
        </tr>
    </table>
</div>