
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #HomePage{
        background-color:white;
        z-index: 1;
    }
</style>
<body id="HomePage">
    <h2>HomePageee</h2>
</body>
<script>
    console.log("voi noi");
</script>

