@model List<DatabaseProvider.MyDB.Order>
@using System.Globalization
@{
    ViewBag.Title = "OrderManaging";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/OrderManaging.css" rel="stylesheet" />
<div class="container">
    <h2>QUẢN LÝ ĐƠN HÀNG</h2>
    @{CultureInfo CI = new CultureInfo("vi-VN"); }
    <table>
        <tr>
            <th>

            </th>

            <th>
                <p>Đơn hàng</p>
            </th>

            <th>
                <p>Tổng tiền</p>
            </th>

            <th>
                <p>Trạng thái</p>
            </th>

            <th>
                <p>Phương thức thanh toán</p>
            </th>
        </tr>

        @for (int i = 0; i < Model.Count; ++i)
        {
            <tr>
                <th>
                    <img class="order-detail" src="../Images/UIDesign/order.png">
                </th>

                <th>
                    <p class="order-detail">Mã đơn hàng: @Model[i].OrderID</p>
                    <a href="" class="cart-link">Chi tiết giỏ hàng</a>
                </th>
                <th>
                    <p class="order-detail">@Model[i].TotalPrice</p>

                </th>
                <th>
                    <p class="order-detail">@Model[i].OrderState</p>
                </th>
                <th>
                    <p class="order-detail">@Model[i].DeliveryMethod</p>
                </th>
            </tr>
        }
    </table>
</div>