@model DatabaseProvider.NewClassForUI.FAQUI
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SignIn</h2>
<p>
    
    Xin chao, @Model.tmp.ImagePath 
    Xin chao, @Model.tmpp.CategoryName
</p>

